*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
}

body{
    height: 720px;
    width: 100%px;
    fony-style:'Avenir Next';
    background-image: url(p0440_m.jpeg);
}

li{
    list-style: none;
}

header{
    height: 20%;
    width: 70%;
    margin: 0 auto;
    background-color: cadetblue;
    opacity: 0.3;
    font-family:'Hiragino Maru Gothic Pro'; 
    font-weight: normal;
}

#midasi{
    float: left;
}

#midasi h1{
    float: right;
    font-size: 50px;
    margin: 33px 0 0 255px;
    letter-spacing: 10px;
}

#menu{
    height: 13%;
    width: 70%;
    margin: 0 auto;
    background-color: brown;
    opacity: 0.3;
}

#menu ul{
    clear: left;
    margin: 0 0 0 40px;
    font-size: 25px;
}

#menu li{
    float: left;
    padding: 5px 30px;
    margin: 0 15px;
    border-bottom: 2px dashed white;
    transition: all 0.2s;
}

#menu li:hover{
    color: #1e1e1e;
    border-bottom: 2px dashed #1e1e1e;
}

#left{
    height: 72%;
    width: 45%;
    margin: 0 0 0 15%;
    float: left;
    background-color: yellow;
    opacity: 0.3;
}

#right{
    height: 72%;
    width: 25%;
    margin: 0 15% 0 0;
    float: right;
    background-color: black;
    opacity: 0.3;
}

footer{
    height: 10%;
    width: 70%;
    margin: 0 15%;
    clear: both;
    text-align: center;
}

footer p{
    padding-top: 2%;
}

footer span{
    margin: 0 10px;
}

footer a{
    color: white;
}